body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

body > div {
    padding: 0 10vw;
}

.header, .footer {
    height: 100px;
    flex-shrink: 0;
    display: flex;
    color: white;
    background-color: #1F2937;
    gap: 25px;
    align-items: center;
}

.header a {
    text-decoration: none;
    color: white;
}

.header-logo {
    margin-right: auto;
    font-size: 24px;
    color: #F9FAF8;
}

.footer {
    justify-content: center;
}

.main {
    background-color: #1F2937;
    flex: 1;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    gap: 40px;
    justify-content: space-evenly;
    align-items: center;
}

.main .left {
    color: white;
    flex: 1;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.main .left h1 {
    font-size: 48px;
    font-weight: 800;
    margin: 0;
}

.main .left p {
    font-size: 18px;
    color: #E5E7EB;
}

.main .right {
    flex: 0 0 auto;
    width: 400px;
    height: 200px;
    color: white;
    background-color: gray;
    align-items: center;
    display: flex;
    text-align: center;
}

.main .right span {
    flex: 1;
}

.main .left button, .call-to-action-box button {
    background-color: #3882F6;
    border-radius: 5px;
    color: white;
    padding: 10px 30px;
    border: none;
}

.call-to-action-box button {
    border: 1px solid white;
}

.quote-section-outer {
    background-color: #E5E7EB;
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.quote-section-inner {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

.attribution {
    font-size: 18px;
    color: #1F2937;
    font-weight: 800;
    align-self: flex-end; 
    margin: 0;
}

.grid-section {
    flex: 1;
    text-align: center;
    padding: 50px 300px;
}

.grid-items {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    text-align: center;
}

.grid-item {
    flex: 0 0 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-item-icon {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 1px solid #3882F6;
}

.grid-section h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.call-to-action {
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.call-to-action-box {
    border-radius: 10px;
    background-color: #3882F6;
    color: white;
    flex: 1 1 auto;
    display: flex;
    padding: 40px 80px;
    max-width: 900px;
    justify-content: center;
    align-items: center;
}

.call-to-action-box .left {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.call-to-action-box .left h2, .call-to-action-box .left p {
    margin: 0;
}

.call-to-action-box .right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}